<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Quantion Repo" value="https://nexus.quantion.com/repository/nuget-group/" />
  </packageSources>

  <apikeys>
    <add key="https://nexus.quantion.com/repository/nuget-group/MongoDbLogger" value="e4ef4eee-0857-37f0-b92d-85f0aba44efe" />
  </apikeys>
</configuration>