<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->
    <add key="Quantion Repo" value="https://nexus.quantion.com/repository/nuget.org-proxy/" />
  </packageSources>
  <activePackageSource>
    <add key="ALL" value="(source group)" />
  </activePackageSource>
  <apikeys>
    <add key="https://nexus.quantion.com/repository/nuget.org-proxy/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAR3aN2P2hnEOIPEy/74x+pwAAAAACAAAAAAAQZgAAAAEAACAAAACDTw0vcNdTez7MlWAknSl1oEplUUuZc0P/x2fks8CjAgAAAAAOgAAAAAIAACAAAAAWOHkfN6GJOteO98+FdjkilfYsNSb+jg/6SLUckss8xTAAAAC2sToV76JY6NA7gJkLk2R+BuQeedfzICBX4PsjGGlqS9leejS+piL2qf+ANfKOmgZAAAAAnbMUXzLdk2Nq0AKr5kQ57UBd0Leks2tn0xNQkO077WqZbAXs5DLYJ+aqoYzRlaOUNNovQ/yjdPnW9yVNYn8Y9Q==" />
  </apikeys>
</configuration>