<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Quantion Nuget Repository" value="https://nexus.quantion.com/repository/nuget-group/" />
  </packageSources>
  <activePackageSource>
    <add key="ALL" value="(source group)" />
  </activePackageSource>
  <apikeys>
    <add key="https://nexus.quantion.com/repository/nuget-hosted/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAR3aN2P2hnEOIPEy/74x+pwAAAAACAAAAAAAQZgAAAAEAACAAAAAeTyZXEsvc5lGnq1/TqWOSTaZP14ZsiGuclkrntFxi5wAAAAAOgAAAAAIAACAAAAB5sbqUd70UnttW2KWdEhCCX7MeGy/BkbK9+RW6FuMfdzAAAADkRipNkLqWHVNR8ah/krUmOmVbOOF07XgMbOuVqIcFbE4TEF2gM4IC9ECv9fexv4JAAAAAu6Hd8tI04qPWoCeVLx5kOTl6OI5YlMSya54G/Rw2tp/egd5PVT6U+4R8V68BTgkKcXsnNZhkzDN+k01RajtyCg==" />
  </apikeys>
</configuration>