<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add this repository to the list of available repositories -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Quantion Nuget Repository" value="https://nexus.quantion.com/repository/nuget-group/" />
  </packageSources>
  <activePackageSource>
    <add key="ALL" value="(source group)" />
  </activePackageSource>
  <!--<apikeys>
    <add key="https://nexus.quantion.com/repository/nuget-group/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAR3aN2P2hnEOIPEy/74x+pwAAAAACAAAAAAAQZgAAAAEAACAAAADmMD77y46Ip44dUVbXrhwByzO6hZoNT4bHjsGpy8sCEgAAAAAOgAAAAAIAACAAAADxtgbZmY6ZeOAeEAqmBbDH+gz72yvjwZ7l2+D8chU6KzAAAAA6iwCK1DeoyWoY8wogsYlIrMBCuxtfvQwnPouXWX8gMSzcUvfQyXlHMk8JfW+aZuNAAAAAlXz2Eciaqo/L0SFn4BCTPOyuiT8c4e+ZtqIKPUB18hER0CCIOHMz95AUgkC2NQ8Gi51xj1kbd2ymmVKn+WAunA==" />
  </apikeys>-->
</configuration>